// .menu {
//   max-height: 0;
//   transition: max-height 0.7s ease-out;
// }

// .menuOpen {
//   max-height: 200px;
// }

// @media (min-width: 1024px) {
//   .menu {
//     max-height: none;
//   }
// }

.menu {
  height: 0;
  transition: height 0.7s ease-out;
  overflow: hidden;
}

.menuOpen {
  height: 100vh;
}

@media (min-width: 1024px) {
  .menu {
    height: auto;
    max-height: none;
  }
}