// .menu {
//   max-height: 0;
//   transition: max-height 0.7s ease-out;
// }

// .menuOpen {
//   max-height: 200px;
// }

// @media (min-width: 1024px) {
//   .menu {
//     max-height: none;
//   }
// }

.menu {
  height: 0;
  transition: height 0.7s ease-out;
  overflow: hidden;
}

.menuOpen {
  height: 100vh;
}

@media (min-width: 1024px) {
  .menu {
    height: auto;
    max-height: none;
  }
}

@media (max-width: 1024px) {
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}