@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #3e3e3e;
  --background-color: #f8f8f8;
  /* --background-color: #ecf6fe; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #FFF;
    --background-color: #000;
  }
} */

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

@layer components {
  .page-container {
    @apply pt-24 pb-12;
  }
  .container {
    @apply px-5 lg:px-10 max-w-4xl xl:max-w-5xl 2xl:max-w-6xl w-full my-0 mx-auto;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s ease-in both;
}
