@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #3e3e3e;
  /* --background-color: #F8F8F8; */
  --background-color: #84c1f624;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #FFF;
    --background-color: #000;
  }
} */

body {
  color: var(--foreground-color);
  background: var(--background-color);
}
